Data Analytics Mid Bootcamp Project

Dataset Bollywood

In [1]:
# Read the three files into python as dataframes

In [2]:
import pandas as pd

In [3]:
actor = pd.read_csv('data/BollywoodActorRanking.csv')
director = pd.read_csv('data/BollywoodDirectorRanking.csv')
movie = pd.read_csv('data/BollywoodMovieDetail.csv')

print(list(actor.columns))
print(list(director.columns))
print(list(movie.columns))

['actorId', 'actorName', 'movieCount', 'ratingSum', 'normalizedMovieRank', 'googleHits', 'normalizedGoogleRank', 'normalizedRating']
['directorId', 'directorName', 'movieCount', 'ratingSum', 'normalizedMovieRank', 'googleHits', 'normalizedGoogleRank', 'normalizedRating']
['imdbId', 'title', 'releaseYear', 'releaseDate', 'genre', 'writers', 'actors', 'directors', 'sequel', 'hitFlop']

In [4]:
# Show the DataFrame's shape.

print(actor.shape)
print(director.shape)
print(movie.shape)

(301, 8)
(118, 8)
(1284, 10)

In [5]:
actor.head()

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716

In [6]:
director.head()

,directorId,directorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,1,Rajkumar Hirani,3,440,10.00000,146000,2.07796,10.00000
1,2,Farah Khan,4,440,7.39474,1060000,8.88317,8.78473
2,3,Karan Johar,5,430,5.68947,1050000,8.80872,7.10460
3,4,Sajid Khan,4,350,5.79605,905000,7.72912,6.99780
4,5,Rohit Shetty,10,950,6.32895,437000,4.24461,6.83761

In [7]:
movie.head()

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1

In [8]:
director.head()

,directorId,directorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,1,Rajkumar Hirani,3,440,10.00000,146000,2.07796,10.00000
1,2,Farah Khan,4,440,7.39474,1060000,8.88317,8.78473
2,3,Karan Johar,5,430,5.68947,1050000,8.80872,7.10460
3,4,Sajid Khan,4,350,5.79605,905000,7.72912,6.99780
4,5,Rohit Shetty,10,950,6.32895,437000,4.24461,6.83761

In [9]:
#Standardize header names.

In [10]:
print("Lowercase version actor")
for column in actor.columns:
    print(column.lower())

Lowercase version actor
actorid
actorname
moviecount
ratingsum
normalizedmovierank
googlehits
normalizedgooglerank
normalizedrating

In [11]:
print("Lowercase version director")
for column in director.columns:
    print(column.lower())

Lowercase version director
directorid
directorname
moviecount
ratingsum
normalizedmovierank
googlehits
normalizedgooglerank
normalizedrating

In [12]:
print("Lowercase version movie")
for column in movie.columns:
    print(column.lower())

Lowercase version movie
imdbid
title
releaseyear
releasedate
genre
writers
actors
directors
sequel
hitflop

In [13]:
cols1 = []
for column in actor.columns:
    cols1.append(column.lower())
actor.columns = cols1

cols2 = []
for column in director.columns:
    cols2.append(column.lower())
director.columns = cols2

cols3 = []
for column in movie.columns:
    cols3.append(column.lower())
movie.columns = cols3

In [14]:
display(actor.head())

,actorid,actorname,moviecount,ratingsum,normalizedmovierank,googlehits,normalizedgooglerank,normalizedrating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716

In [15]:
display(director.head())

,directorid,directorname,moviecount,ratingsum,normalizedmovierank,googlehits,normalizedgooglerank,normalizedrating
0,1,Rajkumar Hirani,3,440,10.00000,146000,2.07796,10.00000
1,2,Farah Khan,4,440,7.39474,1060000,8.88317,8.78473
2,3,Karan Johar,5,430,5.68947,1050000,8.80872,7.10460
3,4,Sajid Khan,4,350,5.79605,905000,7.72912,6.99780
4,5,Rohit Shetty,10,950,6.32895,437000,4.24461,6.83761

In [16]:
display(movie.head())

,imdbid,title,releaseyear,releasedate,genre,writers,actors,directors,sequel,hitflop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1

In [17]:
#Handlin missing values

In [18]:
actor.isna().sum()

actorid                   0
actorname                 0
moviecount                0
ratingsum                 0
normalizedmovierank       2
googlehits                0
normalizedgooglerank    112
normalizedrating          0
dtype: int64

In [19]:
#took mean of values instewad of dropping

In [20]:
actor['normalizedmovierank'].fillna(actor['normalizedmovierank'].mean(), inplace=True)

In [21]:
actor['normalizedgooglerank'].fillna(actor['normalizedgooglerank'].mean(), inplace=True)

In [22]:
director.isna().sum()

directorid              0
directorname            1
moviecount              0
ratingsum               0
normalizedmovierank     0
googlehits              0
normalizedgooglerank    0
normalizedrating        0
dtype: int64

In [23]:
movie.isna().sum()

imdbid           0
title            0
releaseyear      0
releasedate     53
genre            2
writers        119
actors           3
directors        4
sequel           3
hitflop          0
dtype: int64

In [24]:
movie.shape[0]

1284

In [25]:
movie2 = movie.dropna()

In [26]:
display (actor)

,actorid,actorname,moviecount,ratingsum,normalizedmovierank,googlehits,normalizedgooglerank,normalizedrating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.342830,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.884580,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.000000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.465700,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.735910,8.62716
...,...,...,...,...,...,...,...,...
296,669,Achint Kaur,4,80,1.00000,0,2.533937,1.00000
297,670,Yuvika Chaudhry,5,100,1.00000,0,2.533937,1.00000
298,671,Pankaj Berry,5,100,1.00000,0,2.533937,1.00000
299,672,Varun Dhawan,0,0,2.76897,0,2.533937,4.74000
300,673,Nargis Fakhri,0,0,2.76897,0,2.533937,4.80000

In [27]:
display (director)

,directorid,directorname,moviecount,ratingsum,normalizedmovierank,googlehits,normalizedgooglerank,normalizedrating
0,1,Rajkumar Hirani,3,440,10.00000,146000,2.07796,10.00000
1,2,Farah Khan,4,440,7.39474,1060000,8.88317,8.78473
2,3,Karan Johar,5,430,5.68947,1050000,8.80872,7.10460
3,4,Sajid Khan,4,350,5.79605,905000,7.72912,6.99780
4,5,Rohit Shetty,10,950,6.32895,437000,4.24461,6.83761
...,...,...,...,...,...,...,...,...
113,114,Shyam Ramsay,3,60,1.00000,9930,1.06485,1.01149
114,115,Jag Mundhra,3,60,1.00000,6710,1.04088,1.00681
115,116,Kalpana Lajmi,3,60,1.00000,4380,1.02353,1.00342
116,117,Ajay Chandhok,4,80,1.00000,2420,1.00893,1.00057
117,118,Puneet Sira,3,60,1.00000,2030,1.00603,1.00000

In [28]:
display (movie2)

,imdbid,title,releaseyear,releasedate,genre,writers,actors,directors,sequel,hitflop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
5,tt0238936,Devdas,2002,12 Jul 2002,Musical | Romance,Saratchandra Chatterjee (based on the novel by...,Shah Rukh Khan | Madhuri Dixit | Aishwarya Rai...,Sanjay Leela Bhansali,0.0,6
...,...,...,...,...,...,...,...,...,...,...
1275,tt3893476,Spark,2014,10 Oct 2014,Action,V.K. Singh (story),Rati Agnihotri | Mansha Bahl | Rajneesh Duggal...,V.K. Singh,0.0,1
1276,tt4010306,Jigariyaa,2014,10 Oct 2014,Drama,Vinod Bachchan | Apratim Khare | Raj Purohit,Deepak Chadha | Harshvardhan Deo | Sneha Deori...,Raj Purohit,0.0,1
1277,tt4045666,Mumbai Delhi Mumbai,2014,05 Dec 2014,Comedy | Romance,Manu Rishi Chadda (dialogue) | Satish Rajwade,Shiv Pandit | Piaa Bajpai,Satish Rajwade,0.0,1
1278,tt4119196,Love U Crazy Girl,2014,09 May 2014,Mystery,Bhabhani Prasad,Mohan Joshi | Shakti Kapoor | Nitika Sharma | ...,Bhabhani Prasad,0.0,1
1283,tt4228746,Zid,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

In [29]:
movie2= movie2.drop(['sequel','releasedate'], axis=1)

In [30]:
display (movie2)

,imdbid,title,releaseyear,genre,writers,actors,directors,hitflop
0,tt0118578,Albela,2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,6
3,tt0222024,Hum Tumhare Hain Sanam,2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,4
4,tt0227194,One 2 Ka 4,2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,1
5,tt0238936,Devdas,2002,Musical | Romance,Saratchandra Chatterjee (based on the novel by...,Shah Rukh Khan | Madhuri Dixit | Aishwarya Rai...,Sanjay Leela Bhansali,6
...,...,...,...,...,...,...,...,...
1275,tt3893476,Spark,2014,Action,V.K. Singh (story),Rati Agnihotri | Mansha Bahl | Rajneesh Duggal...,V.K. Singh,1
1276,tt4010306,Jigariyaa,2014,Drama,Vinod Bachchan | Apratim Khare | Raj Purohit,Deepak Chadha | Harshvardhan Deo | Sneha Deori...,Raj Purohit,1
1277,tt4045666,Mumbai Delhi Mumbai,2014,Comedy | Romance,Manu Rishi Chadda (dialogue) | Satish Rajwade,Shiv Pandit | Piaa Bajpai,Satish Rajwade,1
1278,tt4119196,Love U Crazy Girl,2014,Mystery,Bhabhani Prasad,Mohan Joshi | Shakti Kapoor | Nitika Sharma | ...,Bhabhani Prasad,1
1283,tt4228746,Zid,2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,2

In [31]:
movie2[['releaseyear','hitflop']]

      releaseyear  hitflop
0            2001        2
1            2001        6
3            2002        4
4            2001        1
5            2002        6
...           ...      ...
1275         2014        1
1276         2014        1
1277         2014        1
1278         2014        1
1283         2014        2

[1131 rows x 2 columns]

In [32]:
actor[['actorname','moviecount']]

            actorname  moviecount
0          Aamir Khan          11
1      Shah Rukh Khan          23
2         Salman Khan          36
3        Katrina Kaif          17
4    Deepika Padukone          16
..                ...         ...
296       Achint Kaur           4
297   Yuvika Chaudhry           5
298      Pankaj Berry           5
299      Varun Dhawan           0
300     Nargis Fakhri           0

[301 rows x 2 columns]

In [33]:
import pymysql
from sqlalchemy import create_engine

In [34]:
import getpass

In [35]:
password = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [36]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [37]:
query=''' select actorname,movieCount from film
order by length Desc limit 10;'''
actor=pd.read_sql_query(query,engine)
display(actor)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'actorname' in 'field list'")
[SQL:  select actorname,movieCount from film
order by length Desc limit 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)